* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

.app {
  height: 100%;
  width: 600px;
  margin: 0 auto;
}

.custom-cell {
  border: 6px #3c6992 solid;
  background-color: #9aadbf;
  border-radius: 30px;
  padding: 10px;
}

.token-list {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
}
