/* Here are some default styles for the Tokenizer */

.rt-tokenizer {
  border: 4px solid #ddd;
  border-radius: 3px;
  display: block;
  padding: 5px;
  width: 100%;
}

.rt-tokenizer__user-input {
  border: none;
  display: inline-block;
  flex-grow: 1;
  font-size: 16px;
  height: 28px;
  padding: 4px;
  resize: none;
}

.rt-tokenizer__user-input > input,
.rt-tokenizer__user-input > input:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.rt-tokenizer__user-input:focus {
  outline: 0;
}

.rt-cell {
  background-color: #ddd;
  border: 1px solid #bbb;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  margin: 0 3px 3px 0;
  padding: 4px 8px;
}

.rt-cell__content,
.rt-cell__delete {
  display: inline-block;
  margin: 0;
  vertical-align: baseline;
}

.rt-cell__delete {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-left: 8px;
}
